root_main = "/Users/yasin/code/CANDEL/"
python_exec = "/Users/yasin/code/CANDEL/venv_candel/bin/python"
machine = "local"

[inference]
model = "Clusters_DistMarg"
shared_params = "none"
num_warmup = 500
num_samples = 500
num_chains = 1
chain_method = "parallel"
seed = 44
compute_log_density = true
compute_evidence = true
track_log_density_per_sample = true
num_chains_harmonic = 10
skip_if_exists = false

[pv_model]
kind = "precomputed_los_Carrick2015"
galaxy_bias = "linear"
which_Vext = "constant"
Vext_per_pix_nside = 1
which_A = "constant"
A_per_pix_nside = 1

# Radial binned Vext configuration 
Vext_radial_bin_edges = [0, 250, 500, 1000]

r_limits_malmquist = [
    0.1,
    1001,
]
num_points_malmquist = 251
los_decay_scale = 5.0
use_MNR = false

[model]
Om = 0.3
use_MNR = false
marginalize_eta = true

[model.eta_grid]
k_sigma = 5
n_grid = 31

[model.priors.h]
dist = "delta"
value = 1.0

[model.priors.b1]
dist = "uniform"
low = 0.0
high = 10.0

[model.priors.beta]
dist = "normal"
loc = 0.43
scale = 0.02

[model.priors.alpha]
dist = "uniform"
low = 0.0
high = 10.0

[model.priors.alpha_low]
dist = "uniform"
low = 0.0
high = 10.0

[model.priors.alpha_high]
dist = "uniform"
low = 0.0
high = 4.0

[model.priors.log_rho_t]
dist = "uniform"
low = -10.0
high = 10.0

[model.priors.sigma_int]
dist = "jeffreys"
low = 0.005
high = 1.0

[model.priors.CL_A]
dist = "uniform"
low = -10
high = 10

[model.priors.CL_B]
dist = "uniform"
low = -5
high = 5

[model.priors.CL_C]
dist = "uniform"
low = -2.0
high = 2.0

[model.priors.sigma_v]
dist = "jeffreys"
low = 5.0
high = 2500

[model.priors.Vext]
dist = "delta"
value = [0.0,0.0,0.0]

[model.priors.Vext_quad]
dist = "delta"
value = [
    [
        0,
        0,
    ],
    [
        0,
        0,
    ],
    [
        0,
        0,
    ],
]

[model.priors.Vext_radial]
dist = "vector_radial_spline_uniform_fixed_direction"
low = 0.0
high = 5000
rknot = [0, 250, 500, 750, 1000]
k = 3
endpoints = "not-a-knot"

[model.priors.Vext_radial_binned]
dist = "vector_radial_spline_uniform_fixed_direction"
low = 0.0
high = 2000.0

[model.priors.zeropoint_dipole]
dist = "vector_uniform_fixed"
low = 0.0
high = 0.1

[model.priors.zeropoint_quad]
dist = "delta"
value = [
    [
        0,
        0,
    ],
    [
        0,
        0,
    ],
    [
        0,
        0,
    ],
]

[model.priors.dH0]
dist = "delta"
value = [
    0,
    0,
    0,
]

[model.priors.R_dist_emp]
dist = "uniform"
low = 1.0
high = 500.0

[model.priors.p_dist_emp]
dist = "truncated_normal"
low = 0.0
mean = 2.0
scale = 0.1

[model.priors.n_dist_emp]
dist = "uniform"
low = 0.5
high = 2.5

[model.priors.Vext_sigma]
dist = "uniform"
low = 0.0
high = 1000.0

[io]
root_output = "results/friday"
catalogue_name = "Clusters"
fname_output = "results/friday/Carrick2015_Clusters_noMNR_LTYT_radial_binned_2bins_hasY_YT.hdf5"

[io.Clusters]
root = "/Users/yasin/code/CANDEL/data/Clusters"
zcmb_max = 0.5
which_relation = "LT"
finite_logY =  false
convert_to_CMB_frame = true
los_file = "/Users/yasin/code/CANDEL/data/Clusters/los_Clusters_<X>.hdf5"
nsamples_subsample = "none"
seed_subsample = 42
remove_noY = false

[io.PV_main.Clusters]
root = "/Users/yasin/code/CANDEL/data/Clusters"
return_all = true
los_file = "/Users/yasin/code/CANDEL/data/Clusters/los_Clusters_<X>.hdf5"

[io.reconstruction_main]
rmin = 0.1
rmax = 2001
num_steps = 1001

[io.reconstruction_main.manticore_2MPP_MULTIBIN_N256_DES_V2]
fpath_root = "/mnt/extraspace/rstiskalek/MANTICORE/2MPP_MULTIBIN_N256_DES_V2/sph_fields_new_feb/sph_fields"

[io.reconstruction_main.Carrick2015]
path_density = "/Users/yasin/code/CANDEL/data/fields/carrick2015_twompp_density.npy"
path_velocity = "/Users/yasin/code/CANDEL/data/fields/carrick2015_twompp_velocity.npy"
